{% extends 'base.html' %}

{% block content %}
        <body class="bg-dark text-light">
            <div class="container py-4">
                <h1 class="mb-4" style="text-align: center;">AI chatbot</h1>
                <div class="bg-secondary p-3 rounded mb-3 " style="max-height: 60vh; overflow-y: auto;">
                    {% for message in messages %}
                        <div class="mb-2">
                            <strong>{{message.role | capitalize }}:</strong>
                            <div>{{message.content | safe }}</div>
                        </div>
                    {% endfor %}
                </div>
                {% if tags %}
                    <div class="mb-3">
                        <form action="/chat/tag-res" method="post">
                            <input type="hidden" name="conversation_id" value="{{conversation_id}}">
                            <p>Select your tags:</p>
                            <div class="d-flex flex-wrap gap-2">
                                {% for tag in tags  %}
                                        <input type="checkbox" 
                                        name="selected_tags" 
                                        value="{{tag}}" 
                                        autocomplete="off" 
                                        class="btn btn-lg btn-outline-light btn-check" 
                                        id="tag-{{loop.index}}">
                                        <label class="btn btn-lg btn-outline-primary m-1" for="tag-{{loop.index}}">{{tag}}</label>
                                {% endfor %}
                            </div>
                            <div class="mt-2">
                                <button type="submit" name="message" value="done" class="btn btn-lg btn-success">Find videos</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <form action="/chat" method="post">
                        <input type="hidden" name="conversation_id" value="{{conversation_id}}">
                        {% if messages and 'How may I assist you today?' in messages[-1].content %}
                            <div class="d-flex gap-2">
                                <button name="message" value="1" class="btn btn-outline-light w-100"> Find videos based on your preferred tags.</button>
                                <button name="message" value="2" class="btn btn-outline-light w-100"> Find videos based on your description.</button>
                            </div>
                        {% else %}
                            <div class="input-group">
                                <input type="text" name="message" class="form-control" placeholder="Type your message here" required>
                                <button class="btn btn-primary" type="submit">Send</button>
                            </div>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </body>
{% endblock  %}